body {
    color: #1a1a1a;
    font-family: 'Open Sans';
}

nav {
    background: #3988a9;
    h1 {
        font-size: 24px;
        line-height: 60px;
        font-weight: 300;
        display: inline-block;
        margin: 0 20px;
        color: white;
    }
    .logo {
        line-height: 60px;
        height: 24px;
        vertical-align: sub;
    }
}

section#weather {
    .weather__search {
        max-width: 620px;
        margin: 200px auto;

        .weather__search-input {
            font-size: 22px;
            padding: 8px 20px 12px;
            margin-right: 20px;

            border: 1px solid #3988a9;
            color: #3988a9; 
            width: 100%;
            max-width: 400px;
            font-weight: 300;
        }

        .weather__search-button {
            font-size: 22px;
            padding: 8px 60px 12px;

            background:#3988a9;
            border: 1px solid #3988a9;
            color: white; 
            font-weight: 300;
        }
    }

    .cities {
        border: 1px solid #e6e6e6;
        .cities--city {
            border-bottom: 1px solid #e6e6e6;
            .cities--city-selected {
                padding: 20px 30px;
                position: relative;
                .cities--city-name {
                    font-size: 36px;
                    margin: 0;
                }
                .cities--city-name.small {
                    font-size: 22px;
                }
                .cities--city-weather-type {
                    color: #808080;
                    margin: 0;
                }
                .cities--city-date {
                    margin-top: 30px;
                    p {
                        margin: 0;
                        color: #808080;
                    }
                }
                .cities--city-temp {
                    position: absolute;
                    right: 0;
                    bottom: 20px;
                    text-align: center;
                    img {
                        height: 80px;
                        max-width: 100px;
                        margin: 20px auto 5px;
                        padding-right: 20px; 
                        display: block;
                    }
                    span {
                        margin-left: 5px;
                        font-size: 36px;
                        font-weight: 300;
                        &:after {
                            content: '°C';
                            font-size: 16px;
                            vertical-align: super;

                        }
                    }
                    span.temp-night {
                        color: #808080;
                        
                    }

                }
            }

            .cities--city-info {
                padding: 20px 0;
                p {
                    margin: 0;
                    font-size: 14px;
                    color: #808080;
                    font-weight: 300;
                    & > span {
                        font-weight: 700;
                    }
                }
            }
        }
        .days-column {
            position: relative;
            overflow: hidden;
        }
        .days {
            width: 9999px;
            
            list-style: none;
            .days--day {
                cursor: pointer;
                width: 90px;
                height: 105px;
                margin: 20px 5px;
                border: 1px solid #e6e6e6;
                display: inline-block;
                text-align: center;
                h3 {
                    font-size: 14px;
                    font-weight: 300;
                    margin: 0;
                    color: #808080;
                }
                p  {
                    font-size: 8px;
                    font-weight: 300;
                    color: #808080;
                    margin: 0;
                }
                img {
                    height: 40px;
                    max-width: 40px;
                    margin: 5px auto 0;
                    display: block;
                }
                span {
                    margin-left: 5px;
                    font-size: 20px;
                    font-weight: 300;
                    &:after {
                        content: '°C';
                        font-size: 10px;
                        vertical-align: super;
                    }
                }
                span.temp-night {
                    color: #808080;   
                }
            }
        }
    }
}
