<div class="row" >
    <div id="chat" k:if="show_chat">
      <div class="col-sm-2 left">
          <div id="channels"></div>
          <div id="online"></div>
      </div>
      <div class="col-sm-10 right">
        <div class="messages"></div>
        <div id="send-form">
          <form k:submit='send_message'>
           <input type="text" id="message-text">
            <button type="submit" hidden>Send</button>
          </form>
        </div>
      </div>
    </div>
</div>