<div id="login">
        <h2>Logowanie</h2>
        <form k:submit='submit_login'>
          <div class="form-group">
            <label for="login-input" hidden>Podaj login </label>
            <input type="text" id="login-input" placeholder="Login">
          </div>
          <div class="form-group">
            <label for="login-input" hidden>Podaj hasło </label>
            <input type="password" id="password-input" placeholder="Hasło">
          </div>
          <button type="submit" id="login-submit">Zaloguj</button>
          <button >Rejestracja</button>
          <a router-link="register">Nie pamiętasz hasła?</a>
        </form>
      </div>