<nav>
    <div class="container">
        <img class="logo" src="dist/img/logo.svg" alt=>
        <h1>WeatherApp </h1>
    </div>
</nav>
<section __karrot_scope_weather id="weather">
    <div class="container">
        <div class="weather__search">
            <input class="weather__search-input" type="text" [value]="weather.search_city">
            <button class="weather__search-button" k:click="weather.get_city(e)">Dodaj</button>
        </div>
        <div class="cities">
            <div *k:for="city,city_id of weather.cities" class="cities--city" >
                <div class="row">
                    <div class="col-md-3">
                        <div class="cities--city-selected">
                            <h2 class="cities--city-name" (class.small|big)="city.name.length > 8">{ city.name }</h2>
                            <p class="cities--city-weather-type"> {city.currentDay.weather_type}</p>
                            <div class="cities--city-temp">
                                <img [src]="'dist/img/'+city.currentDay.weather_img+'.svg'" [alt]="city.currentDay.weather_type">
                                <span class="temp-day">{city.currentDay.day_temp}</span>
                                <span class="temp-night">{city.currentDay.night_temp}</span>
                            </div>
                            <div class="cities--city-date">
                                <p>{city.currentDay.getDate()}</p>
                                <p>sobota</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cities--city-info">
                            <p>Wilgotność: <span>{city.currentDay.humidity + '%'}</span></p>
                            <p>Ciśnienie: <span>{city.currentDay.pressure + ' hPa'}</span></p>
                            <p>Zachmurzenie: <span>{city.currentDay.clouds + '%'}</span></p>
                            <p>Wiatr: <span>{city.currentDay.wind_speed + ' km/h'}</span></p>
                        </div>
                    </div>
                    <div class="col-md-7 days-column">
                        <ul class="days">
                            <li class="days--day" *k:for="day,i of city.days"  k:click="city.change_day(i)">
                                <h3>{day.getDayOfWeek()}</h3>
                                <p>{day.getDate()}</p>
                                <div class="cities--city-temp">
                                    <img [src]="'dist/img/'+day.weather_img+'.svg'" [alt]="day.weather_type">
                                    <span class="temp-day">{day.day_temp}</span>
                                    <span class="temp-night">{day.night_temp}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <span class="cities--city-remove" k:click="weather.remove_city(city_id)">
                    x
                </span>
            </div>
        </div>

    </div>
</section>